body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;
}


/* *{
     box-sizing: border-box;
 } */

html {
    overflow-x: hidden;
}


/* Fonts */

h1 {
    font-weight: 500;
}


/* general styles */

.dark-grey {
    background: #333333;
}

.hide-on-mobile {
    display: none;
}

.butto {
    color: white;
    background: #eb5e28;
    width: 60vw;
    height: 7vh;
    border-radius: 25px;
    border-style: none;
    margin-top: 5vh;
    margin-left: 10vw;
}

.buttonTwo {
    background: gray;
}

h1.myName {
    color: #eb5e28;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 300;
}

h1.tagline {
    font-weight: 200;
    font-size: 9em;
    color: white;
    margin: 0;
}

span.lightgrey {
    color: #808080;
}

p.tag {
    color: #f7931e;
}


/* the header section */


/* icons */

.icon {
    display: inline-block;
    font-size: 22px;
    border: 1.5px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 2px;
}

.icon a {
    color: white;
}

.icon.mobile {
    float: right;
    color: white;
}


/* header: name and hr */

hr {
    width: 100%;
    border-top: 1px white solid;
    opacity: 0.7;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
}

.overlay .icon {
    float: right;
    color: white;
}

.overlay-content ul {
    list-style: none;
    font-size: 2em;
    font-weight: 700;
}

.overlay-content a {
    color: white;
    line-height: 2em;
}

.overlay-content a.active {
    color: #f7931e;
}

.Desktop {
    display: none;
}


/* about me section  */

.profile-image {
    box-shadow: -20px -20px gray;
    margin-top: 2vh;
}


/* testimonals section */


/* .TestimonalsDiv {
    width: 10vw; 
    height: 235vh;
    margin: auto;
    text-align: center;
    background: rgb(41, 40, 40);
} */

.TestimonalsHeading {
    margin-top: 15px;
    font-weight: 400;
    opacity: 1;
}

.TestimonalsContent {
    font-size: 14px;
    font-weight: 250;
    line-height: 18px;
    text-align: justify;
    text-size-adjust: 2px;
    color: red;
}

.TestimonalsContactText {
    font-size: 16px;
    text-align: center;
}

.TestimonalsDivs {
    margin-bottom: 20px;
}

.orangebox {
    text-align: center;
    width: 90px;
    height: 90px;
    background: #eb5e28;
}


/* get in touch section */

.ContactDiv {
    width: 100%;
    height: 8%;
    background-color: #eb5e28;
    color: white;
}

.Get-in-touch {
    height: 120vh;
}

.intouchline {
    margin-top: 20vh;
}

.touchtext {
    margin-top: 10vh;
}

.touch-butto {
    margin-top: 10vh;
}

.inputone {
    background: grey;
    width: 80vw;
    height: 7vh;
}

.lname {
    background: grey;
    width: 80vw;
    height: 7vh;
}

.Tname {
    background: grey;
    width: 80vw;
    height: 30vh;
}

 ::placeholder {
    color: white;
    padding: 10px;
}


/* menu */

.menu {
    margin-left: 40vw;
    margin-top: -23vh;
}

footer {
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 576px) and (orientation: landscape) {}


/* // --------------------------------------------------------------Medium devices (tablets) */

@media (min-width: 768px) {
    .block {
        height: 30vh;
    }
}


/* // --------------------------------------------------------------Large devices (ipad pro) */

@media (min-width: 992px) {
    .show-on-desktop {
        display: block;
    }
    .hide-on-desktop {
        display: none;
    }
    .menu {
        display: none;
    }
    .social-icons {
        text-align: right;
    }
}

@media screen and (min-width: 1200px) {
    /* the header section */
    .icons {
        text-align: right;
    }
    #myNav {
        display: none;
    }
    ul.desktop-nav {
        list-style: none;
    }
    ul.desktop-nav li {
        display: inline-block;
        margin: 0 20px;
        text-transform: uppercase;
    }
    ul.desktop-nav li a {
        color: white;
    }
    ul.desktop-nav li a.active {
        color: #f7931e;
    }
    .Desktop {
        display: block;
        color: white;
    }
    .mobile {
        display: none;
    }
    .dots {
        display: none;
    }
    .combined {
        position: relative;
        left: 1300px;
        bottom: -60px;
    }
    /* about section */
    .about {
        position: relative;
        bottom: 70vh;
        margin-left: 50vw;
    }
    .aboutpara {
        position: relative;
        top: 20vh;
    }
    .myName {
        text-align: center;
        color: #eb5e28;
    }
    p {
        display: inline-block;
        text-align: center;
    }
    .butto {
        display: none;
    }
    .buttonTwo {
        position: relative;
        display: block;
        right: 10vw;
    }
    .two {
        position: relative;
        bottom: 4vh;
        left: 3vw;
    }
    .grades {
        position: relative;
        left: 18vw;
    }
    .buttons {
        display: inline-block;
        margin: 0 20px;
        color: white;
        background: #f7931e;
        width: 12vw;
        height: 5vh;
        border-radius: 25px;
        border-style: none;
        margin-bottom: -30vh;
        margin-left: 10vw;
    }
    /* testimonals section */
    /* .TestimonalsDiv {
        width: 10vw;
        height: 100vh;
    } */
    .TestimonalsHeading {
        font-weight: 300;
        text-align: center;
        font-size: 2em;
        width: 20vw;
        margin-top: 8vh;
    }
    .TestimonalImage {
        width: 10vw;
        height: 15vh;
    }
    .ContactDiv {
        width: 10vw;
        height: 15vh;
    }
    .lectureImages {
        width: 10vw;
        height: 15vh;
    }
    .TestimonalsContent {
        margin-left: -5vw;
        width: 20vw;
    }
    .orangebox {
        text-align: center;
        width: 90px;
        height: 90px;
        background: #eb5e28;
    }
    .firstColums {
        margin-left: -5vw;
    }
    .firstColumsText {
        margin-left: -20vw;
    }
    /* .secondColums {
        transform: translate(30vw, -80vh);
    } */
    /* Get-in-touch  section*/
    .inputone {
        background: grey;
        width: 50vw;
        height: 7vh;
    }
    .lname {
        background: grey;
        width: 50vw;
        height: 7vh;
    }
    .Tname {
        background: grey;
        width: 50vw;
        height: 30vh;
    }
    .touch-butto {
        display: block;
        width: 20vw;
        margin-left: 30vw;
    }
    footer {
        display: block;
    }
}