        body {
            background-color: black;
            font-family: 'Montserrat', sans-serif;
            font-size: 1em;
            color: white;
            overflow-x: hidden;
        }
        /* *{
     box-sizing: border-box;
 } */
        
        html {
            overflow-x: hidden;
        }
        /* Fonts */
        
        h1 {
            font-weight: 500;
        }
        /* general styles */
        
        h3 {
            text-align: center;
            color: #f7931e;
        }
        /* buttons */
        
        .btn-primary {
            background: #eb5e28;
            border: none;
            border-radius: 50px;
        }
        
        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active {
            background: #f7931e;
        }
        
        .btn-secondary {
            border-radius: 50px;
        }
        /* forms */
        
        .form-control {
            background: #808080;
            border: 1px solid white;
            border-radius: 0;
            color: white;
        }
        
        .form-control:focus {
            background: #808080;
        }
        
         ::placeholder {
            color: white!important;
        }
        
        .dark-grey {
            background: #333333;
        }
        
        .hide-on-mobile {
            display: none;
        }
        
        h1.myName {
            color: #eb5e28;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-weight: 300;
        }
        
        h1.tagline {
            font-weight: 200;
            font-size: 9em;
            color: white;
            margin: 0;
        }
        
        span.lightgrey {
            color: #808080;
        }
        
        p.tag {
            color: #f7931e;
        }
        
        p {
            text-align: justify;
        }
        /* the header section */
        /* icons */
        
        .icon {
            display: inline-block;
            font-size: 22px;
            border: 1.5px solid white;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            text-align: center;
            padding-top: 2px;
        }
        
        .icon a {
            color: white;
        }
        
        .icon.mobile {
            float: right;
            color: white;
        }
        /* header: name and hr */
        
        hr {
            width: 100%;
            border-top: 1px white solid;
            opacity: 0.7;
        }
        
        .overlay {
            height: 100%;
            width: 100%;
            display: none;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
        }
        
        .overlay .icon {
            float: right;
            color: white;
        }
        
        .overlay-content ul {
            list-style: none;
            font-size: 2em;
            font-weight: 700;
        }
        
        .overlay-content a {
            color: white;
            line-height: 2em;
        }
        
        .overlay-content a.active {
            color: #f7931e;
        }
        
        .Desktop {
            display: none;
        }
        /* about me-page section  */
        
        .profile-image {
            box-shadow: -20px -20px gray;
            border-style: white;
            width: 70%;
            margin: 50px 0;
        }
        /* resume-sectiom */
        
        .skills {
            display: block;
            text-align: center;
        }
        
        .star {
            text-align: center;
        }
        
        .resume {
            color: #f7931e;
        }
        /* testmonials section */
        
        .TestimonalsContactText {
            font-size: 16px;
            text-align: center;
        }
        
        .card {
            border: none;
            border-radius: 0;
        }
        
        .card-body {
            background: #eb5e28;
            color: white;
        }
        
        .testIcons {
            color: white;
        }
        /* get in touch section */
        
        .intouchline {
            margin-top: 20vh;
        }
        
        .touchtext {
            margin-top: 10vh;
        }
        
        .email {
            background: grey;
            width: 80vw;
            height: 7vh;
            margin-left: 10vw;
        }
        
        .massege {
            background: grey;
            width: 80vw;
            height: 30vh;
            margin-left: 10vw;
        }
        
         ::placeholder {
            color: white;
            padding: 10px;
        }
        /* mobile footer sectiov */
        
        footer {
            text-align: center;
            padding-top: 20px;
        }
        
        .Beauty {
            color: #f7931e;
        }
        /* about me -page section */
        
        .aboutIcon {
            font-size: 30px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: white;
            color: black;
            text-align: center;
            margin: auto;
        }
        /* my journey page */
        
        .journeyText {
            text-align: justify;
        }
        
        @media (min-width: 576px) and (orientation: landscape) {}
        /* // --------------------------------------------------------------Medium devices (tablets) */
        
        @media (min-width: 768px) {
            .block {
                height: 30vh;
            }
            /* about me-page section  */
            .profile-image {
                width: 40%;
            }
            .aboutIcon {
                font-size: 30px;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: white;
                color: black;
                text-align: center;
                margin: auto;
            }
            /* testimonials */
            .testimonials {
                padding: 25px 100px;
            }
        }
        /* // --------------------------------------------------------------Large devices (ipad pro) */
        
        @media (min-width: 992px) {
            .show-on-desktop {
                display: block;
            }
            .hide-on-desktop {
                display: none;
            }
            .menu {
                display: none;
            }
            .social-icons {
                text-align: right;
            }
        }
        
        @media screen and (min-width: 1200px) {
            /* the header section */
            .icons {
                text-align: right;
            }
            #myNav {
                display: none;
            }
            ul.desktop-nav {
                list-style: none;
            }
            ul.desktop-nav li {
                display: inline-block;
                margin: 0 20px;
                text-transform: uppercase;
            }
            ul.desktop-nav li a {
                color: white;
            }
            ul.desktop-nav li a.active {
                color: #f7931e;
            }
            .aboutIcon {
                margin-left: 15vw;
            }
            .Desktop {
                display: block;
                color: white;
            }
            .mobile {
                display: none;
            }
            .aboutpara {
                position: relative;
                padding: 20px;
                text-align: right;
            }
            .myName {
                text-align: center;
                color: #eb5e28;
            }
            p {
                display: inline-block;
                text-align: center;
            }
            .two {
                margin-top: -5vh;
                margin-left: 20vw;
            }
            .TestimonalsContent {
                margin-left: -5vw;
                width: 20vw;
            }
            .firstColums {
                margin-left: -5vw;
            }
            .firstColumsText {
                margin-left: -20vw;
            }
            /* Get-in-touch  section*/
            .email {
                background: grey;
                width: 50vw;
                height: 7vh;
                margin-left: 15vw;
            }
            .massege {
                background: grey;
                width: 50vw;
                height: 30vh;
                margin-left: 15vw;
            }
            footer {
                display: block;
            }
            /* about me section */
            .profile-image {
                width: 60%;
                margin: auto;
            }
            /* about me -page */
            .bunner {
                background: #eb5e28;
                color: black;
                margin: auto;
            }
            .resume {
                color: black;
                font-weight: bold;
            }
            .skills {
                display: block;
                background: #eb5e28;
            }
        }